@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h2, h3, h4 {
	font-weight: 400;
}


body {
	position: relative;
	font-size: 16px;
	background-color: #ededed;
}

img {
	border: none;
	width: 100%;
	border-style: none;
	border: 0;
}

sup {
	font-size: 50%;
}

aside, nav, header {
	padding: 3rem;
}

.none {
	display: none;
}

h1 {
	padding-bottom: 1rem;
}

/* inline block */
li, aside, h5, h6 {
	display: inline-block;
}

nav header footer {
	border-bottom: 1px solid #d3d3d3;
}

nav li.active, nav-2 li.active  {
	border-bottom: 2px solid darkcyan;
}

nav li:hover, nav-2 li:hover {
	border-bottom: 2px solid #50E3C2;
}

footer, nav {
	background-color: white;
}

header {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.top-links {
	position: absolute;
	top: .5rem;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 80%;
	color: #999;

}

.menu-sm {
	position: fixed;
	z-index: 100;
	padding: 0;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: white;
	background-color: rgba(255, 255, 255, .95);
	box-shadow: 0 1px 5px grey;
	padding: 1rem 0;
	display: none;
}

.menu-sm li {
	margin: 0;
	font-size: 80%;
	border-bottom: 2px solid white;
}

a, a:hover, a:active {
	font-weight: 400;
	text-decoration: none;
    line-height: 2rem;
}

a {
	color: darkcyan;
}

a:hover {
	text-decoration: none;
	color: #50E3C2;
}

a:active, a:visited {
	text-decoration: none;
}


p, h3 {
	padding-bottom: .5rem;
}

nav ul li, header ul li, aside ul li {
	margin-right: 2rem;
}

.text {
	padding: 1rem 3rem;
}

.control div {
	display: inline-block;
	padding: 2rem;
}

#carousel {
	position: relative;
	background-color: white;
}

.left {
	position: absolute;
	left: 1rem;
	bottom: 55%;

}

.right {
	position: absolute;
	right: 1rem;
	bottom: 55%;
}

button {
    text-decoration: none;
/*	border-radius: 50%;*/
	border: none;
	width: 2rem;
	height: 2rem;
	font-size: 5rem;
	font-weight: 300;
	color: white;
	text-shadow: 0 1px 2px black;
	background: none;

}

button:hover {
	color: #50E3C2;
	text-shadow: none;
	cursor: pointer;
}

#main li {
	display: block;
}

#main {
	display: flex;
	padding: 3rem;

}

#main aside {
	flex: 1;
	padding: 0;
}

#main aside:first-child {
	flex: 2;
	padding-right: 3rem;

}

footer {
	font-size: 75%;
	text-align: center;
}

#company-info {
}

@media all and (max-width: 850px) {
  #main { flex-flow: column wrap;}
}

@media all and (max-width: 750px) {
  nav { font-size: 80%; }
  #main aside:first-child {
	padding: 0;
}

@media all and (max-width: 660px) {
	#main, #carousel {font-size: 90%}
	nav { display: none; }
  	.top-links { display: none; }
  	.menu-sm {
		display: inline-block;
	}
	.menu-sm li {
		margin: 0 .75rem;
	}
	footer aside { padding-bottom: 0}

	#links { display: none;}
	aside, nav, header, #main, #carousel .text, footer {
	padding: 1rem;
	}
	footer {
		padding-bottom: 10rem;
		font-size: 75%;
	}
}


}

